<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Function</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <!-- import Vue before Element -->
    <script src="static/js/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="static/js/element_index.js"></script>
    <style scoped>
        .red-status {
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: red;
            border-radius: 50%;
        }

        .green-status {
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: green;
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class=" min-w-screen min-h-screen bg-mainBg text-white">
            <div class="flex flex-row p-8">
                <div class="w-64">
                    <div class="h-16 mb-4 flex">
                        <div class="w-16 h-16 logo"></div><span
                            class="h-16 leading-[4rem] text-5xl bold">iClimate</span>
                    </div>
                    <div class="flex justify-between pr-8 mt-4 mb-4">
                        <div>
                            <div class="w-4 h-4 bell  mr-2 inline-block"></div>
                            <button class="text-greyText inline-block" data-bs-toggle="modal"
                                data-bs-target=".weather-modal">天气预报</button>
                        </div>
                        <div class="modal fade weather-modal">
                            <!-- 中间白色区域 -->
                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 860px;">
                                    <div class="modal-header top">
                                        <span style="color: black;">7日内天气预报</span>
                                        <button type="button" class="btn-close" aria-label="Close"
                                            data-bs-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="week-weather-box">
                                        <ul class="week-wrap">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-between pr-8 mt-4 mb-4">
                        <div>
                            <div class="w-4 h-4 lighting mr-2 inline-block"></div>
                            <div class="text-greyText inline-block hover:cursor-pointer" @click="dialogVisible = true">
                                备忘录</div>
                        </div>
                        <el-dialog :visible.sync="dialogVisible" width="32%" top="10px">
                            <div class="border">
                                <!-- 标题 -->
                                <div class="memo-title">我的备忘录</div>
                                <hr>
                                <!-- 输入框和按钮 -->
                                <div class="form">
                                    <input class="memo-input" type="text" name="text" placeholder="请填写您的事件">
                                    <button id="add" @click="add_memo">添加</button>
                                </div>

                                <!-- 备忘录事件列表 -->
                                <div
                                    style="width: 94%;margin: auto;border-radius: 3px;box-shadow: 2px 2px rgb(119, 115, 115);background-color: rgb(227, 244, 244);">
                                    <ul class="list">
                                    </ul>
                                </div>
                            </div>
                        </el-dialog>
                    </div>
                    <div class="flex justify-between pr-8 mt-4 mb-4">
                        <div>
                            <div class="w-4 h-4 lighting mr-2 inline-block"></div>
                            <div class="text-greyText inline-block">空间</div>
                        </div>
                        <template>
                            <button type="text" class="w-6 h-6 rounded-lg bg-[#df2d2d] text-center leading-6"
                                @click="open(pageData)">+</button>
                        </template>
                    </div>
                    <el-col :span="22">
                        <el-menu default-active="1" class="el-menu-vertical-demo pageList"
                            style="background-color:inherit;">
                            <el-menu-item index="1" class="liList">
                                <i class="el-icon-office-building"></i>
                                <span slot="title" class="navi" @click="PageClick('大棚1')">大棚1</span>
                            </el-menu-item>

                            <el-menu-item index="2" class="liList">
                                <i class="el-icon-office-building"></i>
                                <span slot="title" class="navi" @click="PageClick('大棚2')">大棚2</span>
                            </el-menu-item>
                            <el-menu-item index="3" class="liList">
                                <i class="el-icon-office-building"></i>
                                <span slot="title" class="navi" @click="PageClick('大棚3')">大棚3</span>
                            </el-menu-item>
                        </el-menu>
                    </el-col>
                </div>
                <div class="flex-1 flex flex-col">
                    <div>
                        <div class="h-16 pl-4">
                            <div class="title">

                            </div>
                            <div class="text-xm place">{{curr_page}}</div>
                        </div><template>

                            <el-tabs :tab-position="tabPosition" v-model="activeName" @tab-click="handleClick">
                                <el-tab-pane name="iclimate">
                                    <template #label>
                                        <div style="font-weight: 600px;">
                                            &nbsp;&nbsp;&nbsp;&nbsp;主页&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                    </template>
                                    <div class="flex-1">
                                        <div class="p-2">

                                        </div>
                                        <div class="flex flex-row justify-between">
                                            <div class="w-1/5">
                                                <div class="w-full h-10 bg-[#486bf2] rounded-lg pl-4 mb-4 leading-10">
                                                    iClimate</div>
                                                <div class="p-2">
                                                    <div
                                                        class="h-12 flex justify-between items-center text-xl font-bold">
                                                        <span class="">iClimate</span>
                                                        <el-switch v-model="value_iclimate" active-color="#13ce66"
                                                            inactive-color="#ff4949"
                                                            @change="ChangeIclimate(value_iclimate)">
                                                        </el-switch>
                                                    </div>
                                                    <div class="climate">
                                                        <div class="flex justify-between mt-4 mb-4"><span
                                                                class="text-xl font-bold">节能模式</span>
                                                            <el-switch v-model="value_energy" active-color="#13ce66"
                                                                inactive-color="#ff4949"
                                                                @change="ChangeEnergy(value_energy)">
                                                            </el-switch>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mt-8 text-greyText">
                                                    <p>iClimate旨为用户提供智能、便捷和个性化的温控解决方案。打开该功能iClimate将学习用户使用习惯，降低用户能源消耗，提供智能预警功能以及记录提供数据分析图标。
                                                    </p>
                                                </div>
                                                <div class="mt-8 text-greyText">
                                                    <img src="static/image/back.png" alt="">
                                                </div>
                                            </div>
                                            <div class="w-1/5">
                                                <div class="w-full h-10 bg-[#00a6db] rounded-lg pl-4 mb-4 leading-10">
                                                    天气</div>
                                                <div class="p-2">
                                                    <div class="h-12 flex justify-between items-center">
                                                        <div class="flex weather1">

                                                        </div>
                                                        <el-switch v-model="value" active-color="#13ce66"
                                                            inactive-color="#ff4949" @change="ChangeWeather(value)">
                                                        </el-switch>

                                                    </div>
                                                    <div class="mb-4 mt-4 grid grid-cols-3 gap-4 weather2">

                                                    </div>
                                                </div>
                                                <div
                                                    class="search hover:cursor-pointer select-none w-full h-10 bg-transparent text-[#486bf2] rounded-lg text-center leading-10 border border-dashed mt-2">
                                                    <input type="text" class="search-city" placeholder="更换城市">
                                                    <ul class="search-list">
                                                        <li class="city-item">北京市</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="w-1/5 h-[32rem] flex flex-col justify-between">
                                                <div class="w-full h-10 bg-[#802de8] rounded-lg pl-4 mb-4 leading-10">
                                                    大棚</div>
                                                <div class="w-full h-32 border rounded-2xl p-6 bed-room">
                                                    <div class="text-xl">大棚1</div>
                                                    <div><span class=" text-sm mr-2 text-greyText"
                                                            style="color:white">实时监测</span><span
                                                            class="red-circle"></span></div>
                                                </div>
                                                <div class="w-full h-32 border rounded-2xl p-6 living-room">
                                                    <div class="text-xl">大棚2</div>
                                                    <div><span class=" text-sm mr-2 text-greyText"
                                                            style="color:white">实时监测</span><span
                                                            class="red-circle"></span></div>
                                                </div>
                                                <div class="w-full h-32 border rounded-2xl p-6 kitchen">
                                                    <div class="text-xl">大棚3</div>
                                                    <div><span class=" text-sm mr-2 text-greyText"
                                                            style="color:white">实时监测</span><span
                                                            class="red-circle"></span></div>
                                                </div>
                                            </div>
                                            <div class="w-1/5 flex flex-col">
                                                <div class="w-full h-10 bg-rose-600 rounded-lg pl-4 mb-4 leading-10">
                                                    设置</div>
                                                <div class="p-2 text-xl temp">
                                                    <div class="flex justify-between items-center">
                                                        <span>室温调节</span>
                                                        <el-switch v-model="value_temp" active-color="#13ce66"
                                                            inactive-color="#ff4949" @change="ChangeTemp(value_temp)">
                                                        </el-switch>
                                                    </div>
                                                    <div class="setting1">
                                                        <div class="flex items-center mt-4 mb-4"><span
                                                                class="cool w-6 h-6 inline-block mr-2"></span><el-switch
                                                                v-model="value_temp2" active-color="#13ce66"
                                                                inactive-color="#ff4949"
                                                                @change="ChangeTemp2(value_temp2)">
                                                            </el-switch><span
                                                                class="warm w-6 h-6 inline-block ml-2"></span>
                                                        </div>
                                                        <div class="text-xs text-greyText mb-4"><span
                                                                class="mr-16">制冷</span><span>暖气</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pl-2 text-xl  humidi">
                                                    <div class="flex justify-between items-center mt-4 mb-4">
                                                        <span>湿度调节</span>
                                                        <el-switch v-model="value_humidi" active-color="#13ce66"
                                                            inactive-color="#ff4949"
                                                            @change="ChangeHumidi(value_humidi)">
                                                        </el-switch>
                                                    </div>
                                                </div>
                                                <div class="pl-2 text-xl  air">
                                                    <div class="flex justify-between items-center mt-4 mb-4">
                                                        <span>空气调节</span>
                                                        <el-switch v-model="value_air" active-color="#13ce66"
                                                            inactive-color="#ff4949" @change="ChangeAir(value_air)">
                                                        </el-switch>
                                                    </div>
                                                </div>
                                                <div class="pl-2 text-xl  light">
                                                    <div class="flex justify-between items-center mt-4 mb-4">
                                                        <span>光照调节</span>
                                                        <el-switch v-model="value_light" active-color="#13ce66"
                                                            inactive-color="#ff4949" @change="ChangeLight(value_light)">
                                                        </el-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                    </div>
                    </el-tab-pane>
                    <el-tab-pane name="devices">
                        <template #label>
                            <div style="font-weight: 600px;">
                                &nbsp;&nbsp;&nbsp;&nbsp;设备&nbsp;&nbsp;&nbsp;&nbsp;</div>
                        </template>
                        <div class="flex-1">
                            <div class="p-2">
                            </div>
                            <div class="flex flex-row justify-between">
                                <div class="w-1/5 flex flex-col">
                                    <div class="w-full h-10 bg-[#486bf2] rounded-lg pl-4 mb-4 leading-10" v-if="info">
                                        温度检测器
                                    </div>
                                    <div class="p-2 text-xl device">
                                        <div class="flex justify-between items-center">
                                            <span>id:{{info[count-1][0].TEMPERATURE.id}}</span>
                                        </div>
                                        <span class="flex items-center">
                                            <span
                                                :class="{'green-status': info[count-1][0].TEMPERATURE.controllable, 'red-status': !info[count-1][0].TEMPERATURE.controllable}"
                                                class="mr-2"></span>
                                            <span class="font-bold text-xs">状态</span>
                                        </span>
                                        <div class="flex items-center mt-4 mb-4">
                                            <img src="static/image/temp.jpg" style="height:25px;width: 25px;" alt="">
                                            &nbsp;&nbsp;<p class="mt-2 mb-2">检测温度:
                                                {{info[count-1][0].TEMPERATURE.value}}</p>
                                        </div>
                                        <p>更新时间：{{info[count-1][0].TEMPERATURE.update_time}}</p>
                                    </div>
                                    <br>
                                    <div class="w-full h-10 bg-rose-600 rounded-lg pl-4 mb-4 leading-10">温度调节
                                        <button type="button" class="el-icon-setting" data-bs-toggle="modal"
                                            data-bs-target=".temp-box"></button>
                                    </div>
                                    <div class="modal fade temp-box" style="color:black">
                                        <div class="modal-dialog">
                                            <!--弹框内容-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">温度调节</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <label for="amount">设定温度：</label>
                                                    <input type="number" id="amount_temp" min="18" max="32"
                                                        style="height: 50px;width: 360px;font-size: 20px;" step="0.1"
                                                        :value="setTemp" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal" style="color:black">取消</button>
                                                    <button type="button" class="btn btn-primary" @click="open_temp"
                                                        style="color:black">修改</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-2 text-xl device">
                                        <div class="flex justify-between items-center"><span>开关</span><span
                                                class="flex items-center"> <span
                                                    :class="{'green-status': info[count-1][0].TEMPERATURE.controllable, 'red-status': !info[count-1][0].TEMPERATURE.controllable}"
                                                    class="mr-2"></span>
                                                <span class="font-bold text-xs">状态</span>&nbsp;
                                                <el-switch v-model="value_con5" active-color="#13ce66"
                                                    inactive-color="#ff4949" @change="ChangeCon5(value_con5)">
                                                </el-switch></span></div>
                                        <div class="cont5">
                                            <div class="flex items-center mt-4 mb-4">
                                                <span class="cool" style="height: 25px;width: 25px;"></span>&nbsp;&nbsp;
                                                <el-switch v-model="value_temp5" active-color="#13ce66"
                                                    inactive-color="#ff4949"
                                                    @change="ChangeTemp5(value_temp5)"></el-switch>&nbsp;&nbsp;
                                                <span class="warm" style="height: 25px;width: 25px;"></span>
                                                &nbsp;&nbsp;<p class="mt-2 mb-2">设定温度:{{setTemp}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="w-1/5" flex flex-col>
                                    <div class="w-full h-10 bg-[#486bf2] rounded-lg pl-4 mb-4 leading-10" v-if="info">
                                        湿度检测器
                                    </div>
                                    <div class="p-2 text-xl device">
                                        <div class="flex justify-between items-center">
                                            <span>id:{{info[count-1][0].HUMIDITY.id}}</span>
                                        </div>
                                        <span class="flex items-center">
                                            <span
                                                :class="{'green-status': info[count-1][0].TEMPERATURE.controllable, 'red-status': !info[count-1][0].TEMPERATURE.controllable}"
                                                class="mr-2"></span>
                                            <span class="font-bold text-xs">状态</span>
                                        </span>
                                        <div class="flex items-center mt-4 mb-4">
                                            <img src="static/image/de_hum.jpg" style="height:25px;width: 25px;" alt="">
                                            &nbsp;&nbsp;<p class="mt-2 mb-2">检测湿度: {{info[count-1][0].HUMIDITY.value}}
                                            </p>
                                        </div>
                                        <p>更新时间：{{info[count-1][0].HUMIDITY.update_time}}</p>
                                    </div>
                                    <br>
                                    <div class="w-full h-10 bg-rose-600 rounded-lg pl-4 mb-4 leading-10">湿度调节
                                        <button type="button" class="el-icon-setting" data-bs-toggle="modal"
                                            data-bs-target=".hum-box"></button>
                                    </div>
                                    <div class="modal fade hum-box" style="color:black">
                                        <div class="modal-dialog">
                                            <!--弹框内容-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">湿度调节</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <label for="amount">设定湿度：</label>
                                                    <input type="number" id="amount_hum" min="50" max="85"
                                                        style="height: 50px;width: 360px;font-size: 20px;" step="1"
                                                        :value="setHum" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal" style="color:black">取消</button>
                                                    <button type="button" class="btn btn-primary" @click="open_hum"
                                                        style="color:black">修改</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-2 text-xl device">
                                        <div class="flex justify-between items-center"><span>开关</span><span
                                                class="flex items-center"> <span
                                                    :class="{'green-status': info[count-1][0].TEMPERATURE.controllable, 'red-status': !info[count-1][0].TEMPERATURE.controllable}"
                                                    class="mr-2"></span><span class="font-bold text-xs">状态</span>&nbsp;
                                                <el-switch v-model="value_con2" active-color="#13ce66"
                                                    inactive-color="#ff4949" @change="ChangeCon2(value_con2)">
                                                </el-switch></span></div>
                                        <div class="cont2">
                                            <div class="flex items-center mt-4 mb-4">
                                                <img src="static/image/hum.jpg" style="height:25px;width: 25px;" alt="">
                                                &nbsp;&nbsp;<p class="mt-2 mb-2">设定湿度:{{setHum}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="w-1/5" flex flex-col>
                                    <div class="w-full h-10 bg-[#486bf2] rounded-lg pl-4 mb-4 leading-10" v-if="info">
                                        空气质量检测器
                                    </div>
                                    <div class="p-2 text-xl device">
                                        <div class="flex justify-between items-center">
                                            <span>id:{{info[count-1][0]["AIR QUALITY"].id}}</span>
                                        </div>
                                        <span class="flex items-center">
                                            <span
                                                :class="{'green-status': info[count-1][0].TEMPERATURE.controllable, 'red-status': !info[count-1][0].TEMPERATURE.controllable}"
                                                class="mr-2"></span>
                                            <span class="font-bold text-xs">状态</span>
                                        </span>
                                        <div class="flex items-center mt-4 mb-4">
                                            <img src="static/image/de_air.jpg" style="height:25px;width: 25px;" alt="">
                                            &nbsp;&nbsp;
                                            <p class="mt-2 mb-2">检测质量: {{info[count-1][0]["AIR QUALITY"].value}}
                                            </p>
                                        </div>
                                        <p>更新时间：{{info[count-1][0]["AIR QUALITY"].update_time}}</p>
                                    </div>
                                    <br>
                                    <div class="w-full h-10 bg-rose-600 rounded-lg pl-4 mb-4 leading-10">空气调节
                                        <button type="button" class="el-icon-setting" data-bs-toggle="modal"
                                            data-bs-target=".air-box"></button>
                                    </div>
                                    <div class="modal fade air-box" style="color:black">
                                        <div class="modal-dialog">
                                            <!--弹框内容-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">空气调节</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <label for="amount">设定空气质量：</label>
                                                    <input type="number" id="amount_air" min="15" max="50"
                                                        style="height: 50px;width: 320px;font-size: 20px;" step="1"
                                                        :value="setAir" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal" style="color:black">取消</button>
                                                    <button type="button" class="btn btn-primary" @click="open_air"
                                                        style="color:black">修改</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-2 text-xl device">
                                        <div class="flex justify-between items-center"><span>开关</span><span
                                                class="flex items-center"> <span
                                                    :class="{'green-status': info[count-1][0].TEMPERATURE.controllable, 'red-status': !info[count-1][0].TEMPERATURE.controllable}"
                                                    class="mr-2"></span><span class="font-bold text-xs">状态</span>&nbsp;
                                                <el-switch v-model="value_con3" active-color="#13ce66"
                                                    inactive-color="#ff4949" @change="ChangeCon3(value_con3)">
                                                </el-switch></span></div>
                                        <div class="cont3">
                                            <div class="flex items-center mt-4 mb-4">
                                                <img src="static/image/air.jpg" style="height:25px;width: 25px;" alt="">
                                                &nbsp;&nbsp;<p class="mt-2 mb-2">设定空气质量:{{setAir}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="w-1/5" flex flex-col>
                                    <div class="w-full h-10 bg-[#486bf2] rounded-lg pl-4 mb-4 leading-10" v-if="info">
                                        光照强度检测器
                                    </div>
                                    <div class="p-2 text-xl device">
                                        <div class="flex justify-between items-center">
                                            <span>id:{{info[count-1][0]["LIGHT INTENSITY"].id}}</span>
                                        </div>
                                        <span class="flex items-center">
                                            <span
                                                :class="{'green-status': info[count-1][0].TEMPERATURE.controllable, 'red-status': !info[count-1][0].TEMPERATURE.controllable}"
                                                class="mr-2"></span>
                                            <span class="font-bold text-xs">状态</span>
                                        </span>
                                        <div class="flex items-center mt-4 mb-4">
                                            <img src="static/image/de_light.jpg" style="height:25px;width: 25px;"
                                                alt="">
                                            &nbsp;&nbsp;<p class="mt-2 mb-2">
                                                检测强度: {{info[count-1][0]["LIGHT INTENSITY"].value}}
                                            </p>
                                        </div>
                                        <p>更新时间：{{info[count-1][0]["LIGHT INTENSITY"].update_time}}</p>
                                    </div>
                                    <br>
                                    <div class="w-full h-10 bg-rose-600 rounded-lg pl-4 mb-4 leading-10">光照调节
                                        <button type="button" class="el-icon-setting" data-bs-toggle="modal"
                                            data-bs-target=".light-box"></button>
                                    </div>
                                    <div class="modal fade light-box" style="color:black">
                                        <div class="modal-dialog">
                                            <!--弹框内容-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">光照调节</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <label for="amount">设定光照强度：</label>
                                                    <input type="number" id="amount_light" min="1000" max="1800"
                                                        style="height: 50px;width: 320px;font-size: 20px;" step="10"
                                                        :value="setLight" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal" style="color:black">取消</button>
                                                    <button type="button" class="btn btn-primary" @click="open_light"
                                                        style="color:black">修改</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-2 text-xl device">
                                        <div class="flex justify-between items-center"><span>开关</span><span
                                                class="flex items-center"> <span
                                                    :class="{'green-status': info[count-1][0].TEMPERATURE.controllable, 'red-status': !info[count-1][0].TEMPERATURE.controllable}"
                                                    class="mr-2"></span><span class="font-bold text-xs">状态</span>&nbsp;
                                                <el-switch v-model="value_con4" active-color="#13ce66"
                                                    inactive-color="#ff4949" @change="ChangeCon4(value_con4)">
                                                </el-switch></span></div>
                                        <div class="cont4">
                                            <div class="flex items-center mt-4 mb-4">
                                                <img src="static/image/light.jpg" style="height:25px;width: 25px;"
                                                    alt="">
                                                &nbsp;&nbsp;<p class="mt-2 mb-2">设定光照强度:{{setLight}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                </div>
                </el-tab-pane>
                <el-tab-pane name="alerts">
                    <template #label>
                        <div style="font-weight: 600px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;警报&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    </template>
                    <div class="flex-1">
                        <div class="p-2">
                        </div>
                        <div class="grid grid-cols-4 gap-16 alertData">
                            <div class="bg-[#04ed85] h-[20rem] flex flex-col justify-end rounded-2xl"><span
                                    class="text-center pb-2" style="font-size: 18px;">iClimate已介入</span>
                                <div class="bg-[#f05151] w-full h-[45%] rounded-2xl flex flex-col">
                                    <div class="pl-4 text-xl mt-2 flex flex-row items-center">
                                        <div style="margin: center;">气温预警</div>
                                    </div>
                                    <div class="w-full flex-1 rounded-2xl bg-[#f61f1f] p-2 pl-4">
                                        <div>温度设备</div>
                                        <div class="fire w-5 h-6 "></div>
                                        <div>检测温度: {{info[count-1][0].TEMPERATURE.value}}</div>
                                    </div>

                                </div>
                                <div class="bg-[#fb8a2e] w-full h-[45%] rounded-2xl flex flex-col">
                                    <div class="pl-4 text-xl mt-2 flex flex-row justify-between items-center">
                                        <div style="margin: center;">空气质量预警</div>
                                    </div>
                                    <div class="bg-[#e68637] w-full flex-1 rounded-2xl p-2 pl-4">
                                        <div>空气质量设备</div>
                                        <div class="drop-warn w-5 h-7"></div>
                                        <div>检测空气质量：{{info[count-1][0]["AIR QUALITY"].value}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-[#d8d848] h-[20rem] flex flex-col justify-end rounded-2xl"><span
                                    class="text-center pb-2" style="font-size: 18px;">请检查维修</span>
                                <div class="bg-[#ac7a30] w-full h-[45%] rounded-2xl flex flex-col justify-between">
                                    <div class="pl-4 text-xl mt-2 flex flex-row justify-between items-center">
                                        <div style="margin: center;">湿度检测器</div>
                                    </div>
                                    <div class="w-full flex-1 rounded-2xl bg-[#926829] p-2 pl-4">
                                        <div>湿度设备</div>
                                        <div class="disk w-4 h-4"></div>
                                        <div>检测湿度: {{info[count-1][0].HUMIDITY.value}}</div>
                                    </div>
                                </div>
                                <div class="bg-[#fb8a2e] w-full h-[45%] rounded-2xl flex flex-col">
                                    <div class="pl-4 text-xl mt-2 flex flex-row justify-between items-center">
                                        <div style="margin: center;">光照强度检测器</div>
                                    </div>
                                    <div class="bg-[#e68637] w-full flex-1 rounded-2xl p-2 pl-4">
                                        <div>光照强度设备</div>
                                        <div class="break-dark w-5 h-7"></div>
                                        <div>检测光照强度:{{info[count-1][0]["LIGHT INTENSITY"].value}} </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </el-tab-pane>
            <el-tab-pane name="data">
                <template #label>
                    <div style="font-weight: 600px;">
                        &nbsp;&nbsp;&nbsp;&nbsp;数据&nbsp;&nbsp;&nbsp;&nbsp;</div>
                </template>
                <iframe src="http://127.0.0.1:5500/index.html" width="1200" height="655" frameborder="0"
                    allowfullscreen>
                </iframe>
            </el-tab-pane>
            <el-tab-pane name="answer">
                <template #label>
                    <div style="font-weight: 600px;">
                        &nbsp;&nbsp;&nbsp;&nbsp;问答&nbsp;&nbsp;&nbsp;&nbsp;</div>
                </template>
                <!--<iframe src="http://localhost:8333/" width="1200" height="670" frameborder="0" allowfullscreen>
                </iframe>-->
            </el-tab-pane>
            </el-tabs>
            </template>
        </div>
    </div>
    </div>
    </div>
    </div>
</body>
<script src="static/js/axios.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/func.js"></script>
<script src="static/js/my-axios.js"></script>
<script src="static/js/search.js"></script>
<script src="static/js/weather.js"></script>

</html>