<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Function</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <!-- import Vue before Element -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.min.js"></script>

</head>

<body>
    <div id="app">
        <div class=" min-w-screen min-h-screen bg-mainBg text-white">
            <div class="flex flex-row p-8">
                <div class="w-64">
                    <div class="h-16 mb-4 flex">
                        <div class="w-16 h-16 logo"></div><span
                            class="h-16 leading-[4rem] text-5xl bold">iClimate</span>
                    </div>
                    <div class="flex justify-between pr-8 mt-4 mb-4">
                        <div>
                            <div class="w-4 h-4 bell  mr-2 inline-block"></div>
                            <button class="text-greyText inline-block" data-bs-toggle="modal"
                                data-bs-target=".weather-modal">天气预报</button>
                        </div>
                        <div class="modal fade weather-modal">
                            <!-- 中间白色区域 -->
                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 860px;">
                                    <div class="modal-header top">
                                        <span style="color: black;">7日内天气预报</span>
                                        <button type="button" class="btn-close" aria-label="Close"
                                            data-bs-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="week-weather-box">
                                        <ul class="week-wrap">
                                            <li class="item">
                                                <div class="date-box">
                                                    <span class="dateFormat">今天</span>
                                                    <span class="date">10月28日</span>
                                                </div>
                                                <img src="static/image/多云.png" alt="" class="weatherImg">
                                                <span class="weather">多云</span>
                                                <div class="temp">
                                                    <span class="temNight">12</span>-
                                                    <span class="temDay">12</span>
                                                    <span>℃</span>
                                                </div>
                                                <div class="wind">
                                                    <span class="windDirection">东南风</span>
                                                    <span class="windPower">
                                                        <3级 </span>
                                                </div>
                                            </li>
                                            <li class="item">
                                                <div class="date-box">
                                                    <span class="dateFormat">今天</span>
                                                    <span class="date">10月28日</span>
                                                </div>
                                                <img src="static/image/多云.png" alt="" class="weatherImg">
                                                <span class="weather">多云</span>
                                                <div class="temp">
                                                    <span class="temDay">12</span>-
                                                    <span class="temNight">12</span>
                                                    <span>℃</span>
                                                </div>
                                                <div class="wind">
                                                    <span class="windDirection">东南风</span>
                                                    <span class="windPower">
                                                        <3级 </span>
                                                </div>
                                            </li>
                                            <li class="item">
                                                <div class="date-box">
                                                    <span class="dateFormat">今天</span>
                                                    <span class="date">10月28日</span>
                                                </div>
                                                <img src="static/image/多云.png" alt="" class="weatherImg">
                                                <span class="weather">多云</span>
                                                <div class="temp">
                                                    <span class="temDay">12</span>-
                                                    <span class="temNight">12</span>
                                                    <span>℃</span>
                                                </div>
                                                <div class="wind">
                                                    <span class="windDirection">东南风</span>
                                                    <span class="windPower">
                                                        <3级 </span>
                                                </div>
                                            </li>
                                            <li class="item">
                                                <div class="date-box">
                                                    <span class="dateFormat">今天</span>
                                                    <span class="date">10月28日</span>
                                                </div>
                                                <img src="static/image/多云.png" alt="" class="weatherImg">
                                                <span class="weather">多云</span>
                                                <div class="temp">
                                                    <span class="temDay">12</span>-
                                                    <span class="temNight">12</span>
                                                    <span>℃</span>
                                                </div>
                                                <div class="wind">
                                                    <span class="windDirection">东南风</span>
                                                    <span class="windPower">
                                                        <3级 </span>
                                                </div>
                                            </li>
                                            <li class="item">
                                                <div class="date-box">
                                                    <span class="dateFormat">今天</span>
                                                    <span class="date">10月28日</span>
                                                </div>
                                                <img src="static/image/多云.png" alt="" class="weatherImg">
                                                <span class="weather">多云</span>
                                                <div class="temp">
                                                    <span class="temDay">12</span>-
                                                    <span class="temNight">12</span>
                                                    <span>℃</span>
                                                </div>
                                                <div class="wind">
                                                    <span class="windDirection">东南风</span>
                                                    <span class="windPower">
                                                        <3级 </span>
                                                </div>
                                            </li>
                                            <li class="item">
                                                <div class="date-box">
                                                    <span class="dateFormat">今天</span>
                                                    <span class="date">10月28日</span>
                                                </div>
                                                <img src="static/image/多云.png" alt="" class="weatherImg">
                                                <span class="weather">多云</span>
                                                <div class="temp">
                                                    <span class="temDay">12</span>-
                                                    <span class="temNight">12</span>
                                                    <span>℃</span>
                                                </div>
                                                <div class="wind">
                                                    <span class="windDirection">东南风</span>
                                                    <span class="windPower">
                                                        <3级 </span>
                                                </div>
                                            </li>
                                            <li class="item">
                                                <div class="date-box">
                                                    <span class="dateFormat">今天</span>
                                                    <span class="date">10月28日</span>
                                                </div>
                                                <img src="static/image/多云.png" alt="" class="weatherImg">
                                                <span class="weather">多云</span>
                                                <div class="temp">
                                                    <span class="temDay">12</span>-
                                                    <span class="temNight">12</span>
                                                    <span>℃</span>
                                                </div>
                                                <div class="wind">
                                                    <span class="windDirection">东南风</span>
                                                    <span class="windPower">
                                                        <3级 </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-between pr-8 mt-4 mb-4">
                        <div>
                            <div class="w-4 h-4 lighting mr-2 inline-block"></div>
                            <div class="text-greyText inline-block">备忘录</div>
                        </div>
                    </div>
                    <div class="flex justify-between pr-8 mt-4 mb-4">
                        <div>
                            <div class="w-4 h-4 lighting mr-2 inline-block"></div>
                            <div class="text-greyText inline-block">空间</div>
                        </div>
                        <template>
                            <button type="text" class="w-6 h-6 rounded-lg bg-[#df2d2d] text-center leading-6"
                                @click="open(pageData)">+</button>
                        </template>
                    </div>
                    <el-col :span="22">
                        <el-menu default-active="1" class="el-menu-vertical-demo pageList"
                            style="background-color:inherit;">
                            <el-menu-item index="1" class="liList">
                                <i class="el-icon-office-building"></i>
                                <span slot="title" class="navi" @click="PageClick('大棚1')">大棚1</span>
                            </el-menu-item>

                            <el-menu-item index="2" class="liList">
                                <i class="el-icon-office-building"></i>
                                <span slot="title" class="navi" @click="PageClick('大棚2')">大棚2</span>
                            </el-menu-item>
                            <el-menu-item index="3" class="liList">
                                <i class="el-icon-office-building"></i>
                                <span slot="title" class="navi" @click="PageClick('大棚3')">大棚3</span>
                            </el-menu-item>

                            <el-menu-item index="4" class="liList">
                                <i class="el-icon-office-building"></i>
                                <span slot="title" class="navi" @click="PageClick('大棚4')">大棚4</span>
                            </el-menu-item>
                        </el-menu>
                    </el-col>
                </div>
                <div class="flex-1 flex flex-col">
                    <div>
                        <div class="h-16 pl-4">
                            <div class="title">
                                <span class="dateShort">10月28日</span>
                                <span class="calendar">农历
                                    <span class="dateLunar">十月初四</span>
                                </span>
                            </div>
                            <div class="text-xm">{{curr_page}}</div>
                        </div><template>

                            <el-tabs :tab-position="tabPosition" v-model="activeName" @tab-click="handleClick">
                                <el-tab-pane name="iclimate">
                                    <template #label>
                                        <div style="font-weight: 600px;">
                                            &nbsp;&nbsp;&nbsp;&nbsp;主页&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                    </template>
                                    <div class="flex-1">
                                        <div class="p-2">

                                        </div>
                                        <div class="flex flex-row justify-between">
                                            <div class="w-1/5">
                                                <div class="w-full h-10 bg-[#486bf2] rounded-lg pl-4 mb-4 leading-10">
                                                    iClimate</div>
                                                <div class="p-2">
                                                    <div
                                                        class="h-12 flex justify-between items-center text-xl font-bold">
                                                        <span class="">iClimate</span>
                                                        <el-switch v-model="value_iclimate" active-color="#13ce66"
                                                            inactive-color="#ff4949"
                                                            @change="ChangeIclimate(value_iclimate)">
                                                        </el-switch>
                                                    </div>
                                                    <div class="climate">
                                                        <div class="flex justify-between mt-4 mb-4"><span
                                                                class="text-xl font-bold">节能模式</span>
                                                            <el-switch v-model="value_energy" active-color="#13ce66"
                                                                inactive-color="#ff4949"
                                                                @change="ChangeEnergy(value_energy)">
                                                            </el-switch>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mt-8 text-greyText">
                                                    <p>iClimate旨为用户提供智能、便捷和个性化的温控解决方案。打开该功能iClimate将学习用户使用习惯，降低用户能源消耗，提供智能预警功能以及记录提供数据分析图标。
                                                    </p>
                                                </div>
                                                <div class="mt-8 text-greyText">
                                                    <img src="static/image/back.png" alt="">
                                                </div>
                                            </div>
                                            <div class="w-1/5">
                                                <div class="w-full h-10 bg-[#00a6db] rounded-lg pl-4 mb-4 leading-10">
                                                    天气</div>
                                                <div class="p-2">
                                                    <div class="h-12 flex justify-between items-center">
                                                        <div class="flex weather1">
                                                            <img src="static/image/多云.png" alt="" class="weatherImg">
                                                            <div>
                                                                <span class="area">上海市</span>
                                                                <p class="temp">
                                                                    <span class="temperature">12</span>°
                                                                </p>

                                                            </div>
                                                        </div>
                                                        <el-switch v-model="value" active-color="#13ce66"
                                                            inactive-color="#ff4949" @change="ChangeWeather(value)">
                                                        </el-switch>

                                                    </div>
                                                    <div class="mb-4 mt-4 grid grid-cols-3 gap-4 weather2">
                                                        <div class="flex flex-col items-center">
                                                            <div class="w-6 h-6">
                                                                <img src="static/image/小雨-line.png" class="weatherImg"
                                                                    alt="">
                                                            </div>
                                                            <div><span class="weather">多云</span></div>
                                                            <div class="text-[#8d8d8d]">天气</div>
                                                        </div>
                                                        <div class="flex flex-col items-center">
                                                            <div class="wind w-6 h-6"></div>
                                                            <div class="windDirection">东南风</div>
                                                            <div class="text-[#8d8d8d]">风向</div>
                                                        </div>
                                                        <div class="flex flex-col items-center">
                                                            <div class="wind w-6 h-6"></div>
                                                            <div class="windPower">2级</div>
                                                            <div class="text-[#8d8d8d]">风速</div>
                                                        </div>
                                                        <div class="flex flex-col items-center">
                                                            <div class="humidity2 w-6 h-6"></div>
                                                            <div>
                                                                <span class="humidity">53</span>%
                                                            </div>
                                                            <div class="text-[#8d8d8d]">湿度</div>
                                                        </div>
                                                        <div class="flex flex-col items-center">
                                                            <div class="uv w-6 h-6"></div>
                                                            <div class="ultraviolet">强</div>
                                                            <div class="text-[#8d8d8d]">紫外线</div>
                                                        </div>
                                                        <div class="flex flex-col items-center">
                                                            <div class="visbility w-6 h-6"></div>
                                                            <div><span class="psPm25">55</span>
                                                                <span class="psPm25Level">良</span>
                                                            </div>
                                                            <div class="text-[#8d8d8d]">PM2.5</div>
                                                        </div>
                                                        <li>
                                                            <span>日出</span>
                                                            <span class="sunriseTime">06:38</span>
                                                        </li>
                                                        <li>
                                                            <span>日落</span>
                                                            <span class="sunsetTime">17:18</span>
                                                        </li>
                                                    </div>
                                                </div>
                                                <div
                                                    class="search hover:cursor-pointer select-none w-full h-10 bg-transparent text-[#486bf2] rounded-lg text-center leading-10 border border-dashed mt-2">
                                                    <input type="text" class="search-city" placeholder="更换城市">
                                                    <ul class="search-list">
                                                        <li class="city-item">北京市</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="w-1/5 h-[32rem] flex flex-col justify-between">
                                                <div class="w-full h-10 bg-[#802de8] rounded-lg pl-4 mb-4 leading-10">
                                                    大棚</div>
                                                <div class="w-full h-32 border rounded-2xl p-6 bed-room">
                                                    <div class="text-xl">大棚1</div>
                                                    <div><span class=" text-sm mr-2 text-greyText"
                                                            style="color:white">2台设备</span><span
                                                            class="green-circle"></span></div>
                                                </div>
                                                <div class="w-full h-32 border rounded-2xl p-6 living-room">
                                                    <div class="text-xl">大棚2</div>
                                                    <div><span class=" text-sm mr-2 text-greyText"
                                                            style="color:white">4台设备</span><span
                                                            class="green-circle"></span></div>
                                                </div>
                                                <div class="w-full h-32 border rounded-2xl p-6 kitchen">
                                                    <div class="text-xl">大棚3</div>
                                                    <div><span class=" text-sm mr-2 text-greyText"
                                                            style="color:white">4台设备</span><span
                                                            class="green-circle"></span></div>
                                                </div>
                                            </div>
                                            <div class="w-1/5 flex flex-col">
                                                <div class="w-full h-10 bg-rose-600 rounded-lg pl-4 mb-4 leading-10">
                                                    设置</div>
                                                <div class="p-2 text-xl temp">
                                                    <div class="flex justify-between items-center">
                                                        <span>室温调节</span>
                                                        <el-switch v-model="value_temp" active-color="#13ce66"
                                                            inactive-color="#ff4949" @change="ChangeTemp(value_temp)">
                                                        </el-switch>
                                                    </div>
                                                    <div class="setting1">
                                                        <div class="flex items-center mt-4 mb-4"><span
                                                                class="cool w-6 h-6 inline-block mr-2"></span><el-switch
                                                                v-model="value_temp2" active-color="#13ce66"
                                                                inactive-color="#ff4949"
                                                                @change="ChangeTemp2(value_temp2)">
                                                            </el-switch><span
                                                                class="warm w-6 h-6 inline-block ml-2"></span>
                                                        </div>
                                                        <div class="text-xs text-greyText mb-4"><span
                                                                class="mr-16">制冷</span><span>暖气</span>
                                                        </div>
                                                        <div class="mt-2 mb-2"><span>设定温度:25°</span></div>
                                                    </div>
                                                </div>
                                                <div class="pl-2 text-xl  humidi">
                                                    <div class="flex justify-between items-center mt-4 mb-4">
                                                        <span>湿度调节</span>
                                                        <el-switch v-model="value_humidi" active-color="#13ce66"
                                                            inactive-color="#ff4949"
                                                            @change="ChangeHumidi(value_humidi)">
                                                        </el-switch>
                                                    </div>
                                                    <div class="setting2">
                                                        <div class="humid w-4 h-5 mb-4"></div>
                                                        <div class=" text-greyText text-xs mb-2">除（加）湿器</div><span
                                                            class="text-xl">设定湿度:30%</span>
                                                    </div>
                                                    <div
                                                        class="hover:cursor-pointer select-none w-full h-10 bg-transparent text-[#486bf2] rounded-lg text-center leading-10 border border-dashed mt-2">
                                                        + 编辑设置</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                    </div>
                    </el-tab-pane>
                    <el-tab-pane name="devices">
                        <template #label>
                            <div style="font-weight: 600px;">
                                &nbsp;&nbsp;&nbsp;&nbsp;设备&nbsp;&nbsp;&nbsp;&nbsp;</div>
                        </template>
                        <div class="flex-1">
                            <div class="p-2">
                            </div>
                            <div class="flex flex-row justify-between">
                                <div class="w-1/5">
                                    <div class="w-full h-10 bg-[#486bf2] rounded-lg pl-4 mb-4 leading-10">温度检测器
                                    </div>
                                    <div class="p-2 text-xl device">
                                        <div class="flex justify-between items-center"><span>温度设备1</span><span
                                                class="flex items-center"><span class="green-circle mr-2"></span><span
                                                    class="font-bold text-xs">状态</span></span></div>
                                        <div class="flex items-center mt-4 mb-4">
                                            <img src="static/image/temp.jpg" style="height:25px;width: 25px;" alt="">
                                            &nbsp;&nbsp;<p class="mt-2 mb-2">检测温度: 26°</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="p-2 text-xl device">
                                        <div class="flex justify-between items-center"><span>温度设备2</span><span
                                                class="flex items-center"><span class="green-circle mr-2"></span><span
                                                    class="font-bold text-xs">状态</span></span></div>
                                        <div class="flex items-center mt-4 mb-4">
                                            <img src="static/image/temp.jpg" style="height:25px;width: 25px;" alt="">
                                            &nbsp;&nbsp;<p class="mt-2 mb-2">检测温度: 26°</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="p-2 text-xl device">
                                        <div class="flex justify-between items-center"><span>温度设备3</span><span
                                                class="flex items-center"><span class="green-circle mr-2"></span><span
                                                    class="font-bold text-xs">状态</span></span></div>
                                        <div class="flex items-center mt-4 mb-4">
                                            <img src="static/image/temp.jpg" style="height:25px;width: 25px;" alt="">
                                            &nbsp;&nbsp;<p class="mt-2 mb-2">检测温度: 26°</p>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="w-1/5">
                                    <div class="w-full h-10 bg-[#00a6db] rounded-lg pl-4 mb-4 leading-10">湿度检测器
                                    </div>
                                    <div class="p-2 text-xl device">
                                        <div class="flex justify-between items-center"><span>湿度设备1</span><span
                                                class="flex items-center"><span class="green-circle mr-2"></span><span
                                                    class="font-bold text-xs">状态</span></span></div>
                                        <div class="flex items-center mt-4 mb-4">
                                            <img src="static/image/hum.jpg" style="height:25px;width: 25px;" alt="">
                                            &nbsp;&nbsp;<p class="mt-2 mb-2">检测湿度: 40%</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="p-2 text-xl device">
                                        <div class="flex justify-between items-center"><span>湿度设备2</span><span
                                                class="flex items-center"><span class="green-circle mr-2"></span><span
                                                    class="font-bold text-xs">状态</span></span></div>
                                        <div class="flex items-center mt-4 mb-4">
                                            <img src="static/image/hum.jpg" style="height:25px;width: 25px;" alt="">
                                            &nbsp;&nbsp;<p class="mt-2 mb-2">检测湿度: 40%</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="p-2 text-xl device">
                                        <div class="flex justify-between items-center"><span>湿度设备3</span><span
                                                class="flex items-center"><span class="green-circle mr-2"></span><span
                                                    class="font-bold text-xs">状态</span></span></div>
                                        <div class="flex items-center mt-4 mb-4">
                                            <img src="static/image/hum.jpg" style="height:25px;width: 25px;" alt="">
                                            &nbsp;&nbsp;<p class="mt-2 mb-2">检测湿度: 40%</p>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="w-1/5 flex flex-col">
                                    <div class="w-full h-10 bg-[#802de8] rounded-lg pl-4 mb-4 leading-10">湿度调节
                                    </div>
                                    <div class="p-2 text-xl device">
                                        <div class="flex justify-between items-center"><span>湿度设备1</span><span
                                                class="flex items-center"><span class="green-circle mr-2"></span><span
                                                    class="font-bold text-xs">状态</span>&nbsp;
                                                <el-switch v-model="value_con1" active-color="#13ce66"
                                                    inactive-color="#ff4949" @change="ChangeCon1(value_con1)">
                                                </el-switch></span></div>
                                        <div class="cont1">
                                            <div class="flex items-center mt-4 mb-4"><span class="humid"
                                                    style="height:25px;width: 25px;"></span>
                                            </div>
                                            <p>设定湿度: 40%</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="p-2 text-xl device">
                                        <div class="flex justify-between items-center"><span>湿度设备2</span><span
                                                class="flex items-center"><span class="green-circle mr-2"></span><span
                                                    class="font-bold text-xs">状态</span>&nbsp;
                                                <el-switch v-model="value_con2" active-color="#13ce66"
                                                    inactive-color="#ff4949" @change="ChangeCon2(value_con2)">
                                                </el-switch></span></div>
                                        <div class="cont2">
                                            <div class="flex items-center mt-4 mb-4"><span class="humid"
                                                    style="height:25px;width: 25px;"></span>
                                            </div>
                                            <p>设定湿度: 40%</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="p-2 text-xl device">
                                        <div class="flex justify-between items-center"><span>湿度设备3</span><span
                                                class="flex items-center"><span class="green-circle mr-2"></span><span
                                                    class="font-bold text-xs">状态</span>&nbsp;
                                                <el-switch v-model="value_con3" active-color="#13ce66"
                                                    inactive-color="#ff4949" @change="ChangeCon3(value_con3)">
                                                </el-switch></span></div>
                                        <div class="cont3">
                                            <div class="flex items-center mt-4 mb-4"><span class="humid"
                                                    style="height:25px;width: 25px;"></span>
                                            </div>
                                            <p>设定湿度: 40%</p>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="w-1/5 flex flex-col">
                                    <div class="w-full h-10 bg-rose-600 rounded-lg pl-4 mb-4 leading-10">温度调节</div>
                                    <div class="p-2 text-xl device">
                                        <div class="flex justify-between items-center"><span>温度设备1</span><span
                                                class="flex items-center"><span class="green-circle mr-2"></span><span
                                                    class="font-bold text-xs">状态</span>&nbsp;
                                                <el-switch v-model="value_con4" active-color="#13ce66"
                                                    inactive-color="#ff4949" @change="ChangeCon4(value_con4)">
                                                </el-switch></span></div>
                                        <div class="cont4">
                                            <div class="flex items-center mt-4 mb-4"><span class="cool"
                                                    style="height: 25px;width: 25px;"></span>&nbsp;&nbsp;
                                                <el-switch v-model="value_temp3" active-color="#13ce66"
                                                    inactive-color="#ff4949" @change="ChangeTemp3(value_temp3)">
                                                </el-switch>&nbsp;&nbsp;
                                                <span class="warm" style="height: 25px;width: 25px;"></span>
                                            </div>
                                            <p>设定温度: 26°</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="p-2 text-xl device">
                                        <div class="flex justify-between items-center"><span>温度设备2</span><span
                                                class="flex items-center"><span class="green-circle mr-2"></span><span
                                                    class="font-bold text-xs">状态</span>&nbsp;
                                                <el-switch v-model="value_con5" active-color="#13ce66"
                                                    inactive-color="#ff4949" @change="ChangeCon5(value_con5)">
                                                </el-switch></span></div>
                                        <div class="cont5">
                                            <div class="flex items-center mt-4 mb-4"><span class="cool"
                                                    style="height: 25px;width: 25px;"></span>&nbsp;&nbsp;
                                                <el-switch v-model="value_temp4" active-color="#13ce66"
                                                    inactive-color="#ff4949" @change="ChangeTemp4(value_temp4)">
                                                </el-switch>&nbsp;&nbsp;
                                                <span class="warm" style="height: 25px;width: 25px;"></span>
                                            </div>
                                            <p>设定温度: 26°</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="p-2 text-xl device">
                                        <div class="flex justify-between items-center"><span>温度设备3</span><span
                                                class="flex items-center"><span class="green-circle mr-2"></span><span
                                                    class="font-bold text-xs">状态</span>&nbsp;
                                                <el-switch v-model="value_con6" active-color="#13ce66"
                                                    inactive-color="#ff4949" @change="ChangeCon6(value_con6)">
                                                </el-switch></span></div>
                                        <div class="cont6">
                                            <div class="flex items-center mt-4 mb-4"><span class="cool"
                                                    style="height: 25px;width: 25px;"></span>&nbsp;&nbsp;
                                                <el-switch v-model="value_temp5" active-color="#13ce66"
                                                    inactive-color="#ff4949" @change="ChangeTemp5(value_temp5)">
                                                </el-switch>&nbsp;&nbsp;
                                                <span class="warm" style="height: 25px;width: 25px;"></span>
                                            </div>
                                            <p>设定温度: 26°</p>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                </div>
                </el-tab-pane>
                <el-tab-pane name="alerts">
                    <template #label>
                        <div style="font-weight: 600px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;警报&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    </template>
                    <div class="flex-1">
                        <div class="p-2">
                        </div>
                        <div class="grid grid-cols-4 gap-16 alertData">
                            <div class="bg-[#04ed85] h-[28rem] flex flex-col justify-end rounded-2xl"><span
                                    class="text-center pb-2">iClimate已介入</span>
                                <div class="bg-[#f05151] w-full h-3/5 rounded-2xl flex flex-col">
                                    <div class="pl-4 text-xl mt-2 flex flex-row items-center">
                                        <div style="margin: center;">气温预警</div>
                                    </div>
                                    <div class="w-full h-2/5 rounded-2xl bg-[#f61f1f] p-2 pl-4">
                                        <div>温度设备1</div>
                                        <div class="fire w-5 h-6 "></div>
                                        <div>检测温度: 30°</div>
                                    </div>
                                    <div class="w-full h-2/5 rounded-2xl bg-[#f61f1f] p-2 pl-4">
                                        <div>温度设备2</div>
                                        <div class="fire w-5 h-6"></div>
                                        <div>检测温度: 32°</div>
                                    </div>
                                </div>
                                <div class="bg-[#fb8a2e] w-full h-[30%] rounded-2xl flex flex-col">
                                    <div class="pl-4 text-xl mt-2 flex flex-row justify-between items-center">
                                        <div style="margin: center;">湿度预警</div>
                                    </div>
                                    <div class="bg-[#e68637] w-full flex-1 rounded-2xl p-2 pl-4">
                                        <div>湿度设备1</div>
                                        <div class="drop-warn w-5 h-7"></div>
                                        <div>检测湿度: 35%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-[#d8d848] h-[28rem] flex flex-col justify-end rounded-2xl"><span
                                    class="text-center pb-2">请检查维修</span>
                                <div class="bg-[#ac7a30] w-full h-3/5 rounded-2xl flex flex-col justify-between">
                                    <div class="pl-4 text-xl mt-2 flex flex-row justify-between items-center">
                                        <div style="margin: center;">温度检测器</div>
                                    </div>
                                    <div class="w-full h-2/5 rounded-2xl bg-[#926829] p-2 pl-4">
                                        <div>温度设备1</div>
                                        <div class="disk w-4 h-4"></div>
                                        <div>检测温度: 90°</div>
                                    </div>
                                    <div class="w-full h-2/5 rounded-2xl bg-[#926829] p-2 pl-4">
                                        <div>温度设备2</div>
                                        <div class="break w-5 h-6"></div>
                                        <div>检测温度: ~~°</div>
                                    </div>
                                </div>
                                <div class="bg-[#fb8a2e] w-full h-[30%] rounded-2xl flex flex-col">
                                    <div class="pl-4 text-xl mt-2 flex flex-row justify-between items-center">
                                        <div style="margin: center;">湿度检测器</div>
                                    </div>
                                    <div class="bg-[#e68637] w-full flex-1 rounded-2xl p-2 pl-4">
                                        <div>湿度设备1</div>
                                        <div class="break-dark w-5 h-7"></div>
                                        <div>检测湿度: ~~%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </el-tab-pane>
            <el-tab-pane name="data">
                <template #label>
                    <div style="font-weight: 600px;">
                        &nbsp;&nbsp;&nbsp;&nbsp;数据&nbsp;&nbsp;&nbsp;&nbsp;</div>
                </template>
                <div class="quarter-div dataFrame1">
                    <div id="demo1" style="width: 220px;height:220px;float:right"></div>
                    <p class="dataTitle">平均温度</p>
                    <p class="dataToday">{{radio1}}</p>
                    <div class="dataLegend">
                        <template>
                            <el-radio v-model="radio1" label="今天">今天</el-radio>
                            <el-radio v-model="radio1" label="过去一月">过去一月</el-radio>
                        </template>
                    </div>
                </div>
                <div class="quarter-div dataFrame2">
                    <div id="demo2" style="width: 320px;height:220px;float:right;"></div>
                    <p class="dataTitle">操作次数</p>
                    <p class="dataToday">{{radio2}}</p>
                    <div class="dataLegend">
                        <template>
                            <el-radio v-model="radio2" label="今天">今天</el-radio>
                            <el-radio v-model="radio2" label="过去一月">过去一月</el-radio>
                        </template>
                    </div>
                </div>
                <div class="quarter-div dataFrame3">
                    <div id="demo3" style="width: 220px;height:220px;float:right"></div>
                    <p class="dataTitle">平均湿度</p>
                    <p class="dataToday">{{radio3}}</p>
                    <div class="dataLegend">
                        <template>
                            <el-radio v-model="radio3" label="今天" name="今天">今天</el-radio>
                            <el-radio v-model="radio3" label="过去一月" name="过去一月">过去一月</el-radio>
                        </template>
                    </div>
                </div>
            </el-tab-pane>
            </el-tabs>
            </template>
        </div>
    </div>
    </div>
    </div>
    </div>
</body>
<script src="static/js/func.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="static/js/my-axios.js"></script>
<script src="static/js/search.js"></script>
<script src="static/js/weather.js"></script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('demo3'));

    // 指定图表的配置项和数据
    var option = {
        series: [
            {
                type: 'gauge',
                progress: {
                    show: true,
                    width: 10
                },
                axisLine: {
                    lineStyle: {
                        width: 10
                    }
                },
                axisTick: {
                    show: false
                },
                splitLine: {
                    length: 8,
                    lineStyle: {
                        width: 2,
                        color: '#eaf4fc'
                    }
                },
                axisLabel: {
                    distance: 10,
                    color: '#eaf4fc',
                    fontSize: 10
                },
                anchor: {
                    show: true,
                    showAbove: true,
                    size: 25,
                    itemStyle: {
                        borderWidth: 5
                    }
                },
                title: {
                    show: false
                },
                detail: {
                    valueAnimation: true,
                    color: '#eaf4fc',
                    fontSize: 30,
                    offsetCenter: [0, '52%']
                },
                data: [
                    {
                        value: 52
                    }
                ]
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('demo2'));

    let base = +new Date(2023, 11, 18);
    let oneDay = 3600;
    let data = [[base, Math.random() * 300]];
    for (let i = 1; i < 20000; i++) {
        let now = new Date((base += oneDay));
        data.push([+now, Math.abs((Math.random() - 0.5) + data[i - 1][1])]);
    }
    var option = {
        tooltip: {
            trigger: 'axis',
            position: function (pt) {
                return [pt[0], '10%'];
            }
        },
        xAxis: {
            type: 'time',
            boundaryGap: false,
            axisTick: {
                show: false
            },
            axisLabel: {
                show: false
            }
        },
        yAxis: {
            type: 'value',
            boundaryGap: [0, '%']
        },
        series: [
            {
                name: 'Fake Data',
                type: 'line',
                smooth: true,
                symbol: 'none',
                areaStyle: {},
                data: data
            }
        ],
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('demo1'));

    // 指定图表的配置项和数据
    var option = {
        series: [
            {
                type: 'gauge',
                startAngle: 180,
                endAngle: 0,
                center: ['50%', '75%'],
                radius: '90%',
                min: 0,
                max: 1,
                splitNumber: 8,
                axisLine: {
                    lineStyle: {
                        width: 10,
                        color: [
                            [0.25, '#FF6E76'],
                            [0.5, '#FDDD60'],
                            [0.75, '#58D9F9'],
                            [1, '#7CFFB2']
                        ]
                    }
                },
                pointer: {
                    icon: 'path://M12.8,0.7l12,40.1H0.7L12.8,0.7z',
                    length: '35%',
                    width: 6,
                    offsetCenter: [0, '-40%'],
                    itemStyle: {
                        color: 'auto'
                    }
                },
                axisTick: {
                    length: 6,
                    lineStyle: {
                        color: 'auto',
                        width: 2
                    }
                },
                splitLine: {
                    length: 10,
                    lineStyle: {
                        color: 'auto',
                        width: 3
                    }
                },
                axisLabel: {
                    color: '#464646',
                    fontSize: 20,
                    distance: -60,
                    rotate: 'tangential',
                    formatter: function (value) {
                        if (value === 0.875) {
                            return '';
                        } else if (value === 0.625) {
                            return '';
                        } else if (value === 0.375) {
                            return '';
                        } else if (value === 0.125) {
                            return '';
                        }
                        return '';
                    }
                },
                detail: {
                    fontSize: 35,
                    offsetCenter: [0, '-10%'],
                    valueAnimation: true,
                    formatter: function (value) {
                        return Math.round(value * 100) + '';
                    },
                    color: 'inherit'
                },
                data: [
                    {
                        value: 0.32,
                        name: ''
                    }
                ]
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>

</html>